@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lobster+Two&family=Oswald:wght@200;300;400&family=Voltaire&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoVoltar-container {
    position: absolute;
    height: 111%;
    width: 100px;
    background-color: rgb(223, 74, 0);
    margin-left: 120px;
    transition: .5s;
    margin-top: -150px;
    overflow-y: hidden;
}

.botaoVoltar-container:hover {
    transform: scale(1, 1);
    background-color: black;
}

.botaoVoltar-container a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    cursor: pointer;

}

.botaoVoltar-container:hover .botaoVoltar {
    border-color: white;
}

.botaoVoltar {
    margin-left: 30%;
    margin-top: -50px;
    width: 40px;
    height: 40px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    box-shadow: 0px 2px 0px black;
    transform: rotate(45deg);
}

.legendaVoltar h2{
    text-shadow: 1px 1px 5px black;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    margin-top: 30px;
}

.mainContainer {
    width: 100%;
    height: 80vh;
    margin: 70px auto;
}

.containerProduto {
    width: 32%;
    height: 100%;

}

.containerProduto-child {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
    margin-right: 20px;
}

.imageProduto {
    width: 100%;
    height: 70%;
    background-image: url('https://soubh.uai.com.br/uploads/post/image/11558/main_destaque_Alexandr_Popel.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.imageProduto img {
    width: 100%;
    height: 100%;
}

.infoProduto h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    margin: 10px 0 5px 20px;
}

.infoProduto p {
    font-size: 16px;
    width: 340px;
    margin: 10px 15px 5px 20px;
}

.precoProduto p {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 600;
}

.containerFormulario {
    width: 30%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    margin-left: 20px;
}

#formulario-01 {
    margin: 40px 20px 0 45px;
    width: 100%;
}

#formulario-01 h2 {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
}

#nome,
#obsPedido {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}


#container-formulario-02 {
    display: none;
    opacity: 0;
    margin: 10px 20px 0 45px;
    width: 100%;
    animation: entrada01;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes entrada01 {
    to {
        opacity: 1;
    }
}

#formulario-02 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

#formulario-02 input {
    margin-right: 5px;
    width: 70px;
}

#formulario-02 label {
    margin-right: 10px;
}

#formulario-02 h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#labelEntrega {
    width: 80%;
    margin-top: 10px;
}


#obsEntrega {
    width: 160% !important;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 0 !important;
}

#container-formulario-03 {
    width: 100%;
    height: 50px;
    margin: 10px 20px 0 45px;

}

.radio {
    margin: 0 5px;
}

#formulario-03 h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.containerPreco {
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    text-align: center;
    margin: 10px 20px 0 30px;

}

.contador {
    margin-left: 5px;
}

.btnQuant {
    width: 50px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
}

.preco {
    margin-top: -15px;
}

#valorProd {
    height: 30px;
    width: 200px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 25px;
}

#submit {
    width: 80%;
    height: 35px;
    border-radius: 10px;
    margin-left: 47px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(223, 74, 0);
    color: white;
    border: 0px;

}