@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lobster+Two&family=Oswald:wght@200;300;400&family=Voltaire&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.menuMobile div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
    display: none;
}


.firstContainer {
    width: 100vw;
    height: 15vh;
    text-shadow: 0.2em 0.1em 0.1em rgb(0, 0, 0);
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    width: 100vw;
    height: 12vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    opacity: 0;
    margin-left: -500px;
    animation: entradaHeader;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes entradaHeader {
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

.titleHeader {
    font-family: 'Bebas Neue', cursive;
    margin-left: 150px;
    width: 15%;
    text-align: center;
}

.menuMobile div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
    display: none;
}

.titleHeader h1 {
    font-size: 30px;
    font-weight: 200;
    font-family: 'Bebas Neue', cursive;
}

.menuHeader {
    width: 30%;
    margin-right: 150px;
    justify-content: right;
}

.menuHeader ul li {
    display: inline;
    font-family: 'Bebas Neue', cursive;
    margin: 0px 5px;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 18px;
    transition: 0.3s ease-in-out;
}

.menuHeader ul li:hover {
    background-color: white;
    color: rgb(223, 74, 0);
    text-shadow: 0em 0em 0em rgb(0, 0, 0);
}

.banner {
    border-radius: 20px;
    width: 80%;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url('https://fisk.com.br/files/blog/banner-6-curiosidades-sobre-o-hamburguer.jpg');
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.infoLoja {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
}

.infoLoja h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-left: 10px;
}

.infoLoja p {
    color: red;
    margin-left: 10px;
}

.menuCategorias {
    width: 80%;
    height: 55px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.511);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.511);
    margin: 15px auto;
}


.menuCategorias ul li {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.511);
    transition: 0.5s ease;
    width: 200px;
    height: 55px;
    text-align: center;
}

.menuCategorias ul li:hover {
    color: black;
    cursor: pointer;
}

.selected02 {
    color: black;
}

.barra {
    position: relative;
    border-bottom: 3px solid rgb(0, 0, 0);
    animation-duration: .9s;
    animation-fill-mode: forwards;
    animation-name: animation1;
}

@keyframes animation1 {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }

}

.titulo-ofertaPrincipal {
    height: 50px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 40px;
    font-size: 20px;
}

.ofertaPrincipal {
    margin: 25px auto;
    width: 80%;
    height: 400px;
}

.ofertaPrincipal-child {
    margin: 0 10px;
    height: 90%;
    width: 30%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
}

.ofertaPrincipal-child:hover {
    height: 95%;
    width: 33%;
}

.img-lanche01 {
    width: 100%;
    height: 70%;
    background-image: url('https://soubh.uai.com.br/uploads/post/image/11558/main_destaque_Alexandr_Popel.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.img-lanche02 {
    width: 100%;
    height: 70%;
    background-image: url('https://cdn.folhape.com.br/img/pc/1100/1/dn_arquivo/2021/10/burger.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.img-lanche03 {
    width: 100%;
    height: 70%;
    background-image: url('https://viagemegastronomia.cnnbrasil.com.br/wp-content/uploads/sites/5/2021/10/burger-fest-2021.jpg?w=876&h=484&crop=1');
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;

}

.img-lanche img {
    width: 100%;
    height: 100%;
}

.infoOferta h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    margin: 10px 0 5px 20px;
}

.infoOferta p {
    font-size: 14px;
    width: 340px;
    margin: 5px 15px 5px 20px;
}

.preco p {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.boxCardapio {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    flex-direction: column;
}

.boxCardapio h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

.boxCardapio a {
    height: 150px;
    width: 49%;
    color: black;
    margin: 0 10px;
}

.boxCardapio-child {
    width: 100%;
    height: 160px;
    margin-top: 10px;
}

.infoCardapio {
    width: 100%;
    height: 100%;
    padding: 10px 15px 10px 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.404);

}

.textoCardapio {
    width: 80%;
    height: 95%;
    margin-left: 5px;
}

.textoCardapio h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 1.4vmax;
    height: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.textoCardapio p {
    font-size: 1vmax;
    height: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.textoCardapio h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 1.25vmax;
    height: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.imgCardapio {
    width: 20%;
    height: 80%;
}

.imgCardapio img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #4e4e4e;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}